<!-- <div class="form-group has-error"> -->
<div class="row">
	<div class="tabbable-line boxless tabbable-reversed">
		<ul class="nav nav-tabs">

                                <li class="">
                                    <a href="#tabMaterial" data-toggle="tab" aria-expanded="false">Material Aeronáutico</a>
                                </li>
																<li class="">
                                    <a href="#tabHorasMaterial" data-toggle="tab" aria-expanded="true">Horas de vuelo</a>
                                </li>
                                <li class="">
                                    <a href="#tabReportesMaterial" data-toggle="tab" aria-expanded="true">Reportes Material</a>
                                </li>
		</ul>
		<div class="tab-content" style="padding: 0px 0;">



			<div class="tab-pane" id="tabMaterial">
				<div class="portlet-body form">

					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<div class="form-body">
                                          <h3 class="form-section" style="margin: 0px;">Material Aeronáutico</h3>

                                                            <div class="row">

																															<div class="col-md-3">
																																	<div class="form-group">
																																			<div class="form-group form-md-line-input form-md-floating-label has-success">
																																					<input type="text" class="form-control" id="brand" name="brand" ng-model="materialAeronautic.brand">
																																					<label for="form_control_1">Marca<span class="required" aria-required="true">*</span></label>
																																			</div>
																																	</div>
																															</div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="namePlane" name="namePlane" ng-model="materialAeronautic.namePlane">
                                                                            <label for="form_control_1">Nombre<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="year" name="year" ng-model="materialAeronautic.year">
                                                                            <label for="form_control_1">Año de Fabricación<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="registration" name="registration" ng-model="materialAeronautic.registration">
                                                                            <label for="form_control_1">Matricula<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success" >
                                                                            <input type="text" class="form-control" id="registrationYear" name="registrationYear" ng-model="materialAeronautic.registrationYear">
                                                                            <label for="form_control_1">Año de Matricula<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>

                                                            <div class="row">
                                                            <hr>

                                                                <h4>Características técnicas genéricas</h4>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="wingspan" name="wingspan" ng-model="materialAeronautic.wingspan">
                                                                            <label for="form_control_1">Envergadura<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="longPlane" name="longPlane" ng-model="materialAeronautic.longPlane">
                                                                            <label for="form_control_1">Longitud<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="TO" name="TO" ng-model="materialAeronautic.brand">
                                                                            <label for="form_control_1">Hasta<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div> -->

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="maxTakeOff" name="maxTakeOff" ng-model="materialAeronautic.maxTakeOff">
                                                                            <label for="form_control_1">Peso máximo despegue<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="emptyWeight" name="emptyWeight" ng-model="materialAeronautic.emptyWeight">
                                                                            <label for="form_control_1">Peso en vacio<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="cruiseSpeed" name="cruiseSpeed" ng-model="materialAeronautic.cruiseSpeed">
                                                                            <label for="form_control_1">Velocidad Crucero<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="serviceCeiling" name="serviceCeiling" ng-model="materialAeronautic.serviceCeiling">
                                                                            <label for="form_control_1">Techo de Servicio<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                            <div class="row">
                                                             <hr>

                                                             <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="takeoffRace" name="takeoffRace" ng-model="materialAeronautic.takeoffRace">
                                                                            <label for="form_control_1">Carrera de Despegue<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="landingRace" name="landingRace" ng-model="materialAeronautic.landingRace">
                                                                            <label for="form_control_1">Carrera de Aterrizaje<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div></div>
                                                                <hr>
                                                            <div class="row">

                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="engine" name="engine" ng-model="materialAeronautic.engine">
                                                                            <label for="form_control_1">Motor<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="enginePower" name="enginePower" ng-model="materialAeronautic.enginePower">
                                                                            <label for="form_control_1">Potencia HP<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                               <div class="col-md-3">
                                                              <div class="form-group">
                                                                      <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                          <input type="text" class="form-control" id="fuelCapacity" name="fuelCapacity" ng-model="materialAeronautic.fuelCapacity">
                                                                          <label for="form_control_1">Capacidad de Combustible<span class="required" aria-required="true">*</span></label>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-3">
                                                             <div class="form-group">
                                                                     <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                         <input type="text" class="form-control" id="propeller" name="propeller" ng-model="materialAeronautic.propeller">
                                                                         <label for="form_control_1">Hélice<span class="required" aria-required="true">*</span></label>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                            </div>
																														<div class="form-actions right">
																																<button type="button" class="btn default">Cancelar</button>

																																<button type="button" class="btn blue" ng-click="registerCustomer()">
																																		<i class="fa fa-check"></i>
																																		Guardar cambios
																																</button>

																														</div>
                                                            <div class="row">
                                                            </div>

						</div>

					</form>


					<div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
	                                    <!-- <div class="caption font-dark">
	                                        <i class="icon-home font-dark"></i>
	                                        <span class="caption-subject bold uppercase">Registros del Libro</span>
	                                    </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
				</div>
			</div>

			<div class="tab-pane" id="tabHorasMaterial">
				<div class="portlet-body form">
					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<h3 class="form-section" style="margin: 0px;">Horas de Vuelo</h3>
						<div class="form-body">
							<div class="row">
								<div class="col-md-3">
										<div class="form-group">
												<div class="form-group form-md-line-input form-md-floating-label has-success">
														<input type="text" class="form-control" id="registration" name="registration" ng-model="HorasMaterial.registration">
														<label for="form_control_1">Buscar... Matricula<span class="required" aria-required="true">*</span></label>
												</div>
										</div>
								</div>
								</div>
								<hr>
					<div class="row">
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="hours" name="hours" ng-model="HorasMaterial.hours">
												<label for="form_control_1">Horas<span class="required" aria-required="true">*</span></label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="landing" name="landing" ng-model="HorasMaterial.landing">
												<label for="form_control_1">Aterrizajes<span class="required" aria-required="true">*</span></label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="inspectionDate" name="inspectionDate" ng-model="HorasMaterial.inspectionDate">
												<label for="form_control_1">Fecha de Inspeción</label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="legal" name="legal" ng-model="HorasMaterial.legal">
												<label for="form_control_1">Estado Legal</label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="maintenance" name="maintenance" ng-model="HorasMaterial.maintenance">
												<label for="form_control_1">Mantenimiento</label>
										</div>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">

						</div>
					</div>

				</div>
					</form>
				</div>
			</div>

			<div class="tab-pane" id="tabReportesMaterial">
				<div class="portlet-body form">
					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<h3 class="form-section" style="margin: 0px;">Reportes</h3>
						<div class="form-body">

					<div class="row">
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="registration" name="registration" >
												<label for="form_control_1">Matricula<span class="required" aria-required="true">*</span></label>
										</div>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<h4>Tiempos de Vuelo</h4>
															<table class="table table-striped table-bordered table-hover order-column" id="sample_1 " ng-model="materialAeronauticList" >
																	<thead>

																			<tr>

									<th> Marca </th>
									<th> Nombre </th>
									<th> Año </th>
									<th> Matricula </th>
									<th> Año Matricula </th>




																			</tr>
																	</thead>
																	<tbody>
								<tr class="odd gradeX" ng-repeat="m in materialAeronauticList" >

									<td>{{m.brand}}</td>
									<td>{{m.namePlane}}</td>
									<td>{{m.year}}</td>
									<td>{{m.registration}}</td>
									<td>{{m.registrationYear}}</td>


									<td>
																							<span class="label label-sm label-success editDir " ng-click="loadFormCustomerAddresses(c.id,c.description,c.street,c.number,c.floor,c.floorid,c.locationid,c.loc_id,c.phone1,c.phone2,c.lat,c.longitud,c.default_address,c.default_address,c.priority)"> Ver </span>&nbsp;
										<!-- <span class="label label-sm label-warning" ng-click="deleteCustomerAddresses(c.id)" id="demo_3"> Borrar </span> -->
																					</td>
								</tr>


																	</tbody>
															</table>
															<h4>Discriminación de Tiempos de vuelo</h4>
															<table class="table table-striped table-bordered table-hover order-column" id="sample_1 " ng-model="customerAddresses" >
																	<thead>
																			<tr>


																				<th> Envergadura </th>
																				<th> Long </th>
																				<th> Peso Max Desp </th>
																				<th> Peso Vacio </th>
																				<th> Velocidad Crucero </th>
																				<th> Techo de Servicio </th>
																				<th> Carrera de Despegue </th>
																				<th> Carrera de Aterrizaje </th>
																				<th> Motor </th>
																				<th> HP </th>
																				<th> Max Combustible </th>
																				<th> Hélice </th>


																			</tr>
																	</thead>
																	<tbody>
								<tr class="odd gradeX" ng-repeat="c in listCustomers.listAddress" >


									<td>{{m.wingspan}}</td>
									<td>{{m.longPlane}}</td>
									<td>{{m.maxTakeOff}}</td>
									<td>{{m.emptyWeight}}</td>
									<td>{{m.cruiseSpeed}}</td>
									<td>{{m.serviceCeiling}}</td>
									<td>{{m.takeoffRace}}</td>
									<td>{{m.landingRace}}</td>
									<td>{{m.engine}}</td>
									<td>{{m.enginePower}}</td>
									<td>{{m.fuelCapacity}}</td>
									<td>{{m.propeller}}</td>
									<td>
																							<span class="label label-sm label-success editDir " ng-click="loadFormCustomerAddresses(c.id,c.description,c.street,c.number,c.floor,c.floorid,c.locationid,c.loc_id,c.phone1,c.phone2,c.lat,c.longitud,c.default_address,c.default_address,c.priority)"> Editar </span>&nbsp;
										<span class="label label-sm label-warning" ng-click="deleteCustomerAddresses(c.id)" id="demo_3"> Borrar </span>
																					</td>
								</tr>


																	</tbody>
															</table>
						</div>
					</div>

				</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>
