<!-- <div class="form-group has-error"> -->
<div class="row">
	<div class="tabbable-line boxless tabbable-reversed">
		<ul class="nav nav-tabs">

                                <li class="">
                                    <a href="#tabMaterial" data-toggle="tab" aria-expanded="false">Material Aeronáutico</a>
                                </li>
																<li class="">
                                    <a href="#tabHorasMaterial" data-toggle="tab" aria-expanded="true">Horas de vuelo</a>
                                </li>
                                <li class="">
                                    <a href="#tabReportesMaterial" data-toggle="tab" aria-expanded="true">Reportes Material</a>
                                </li>
		</ul>
		<div class="tab-content" style="padding: 0px 0;">



			<div class="tab-pane" id="tabMaterial">
				<div class="portlet-body form">

					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<div class="form-body">
                                          <h3 class="form-section" style="margin: 0px;">Material Aeronáutico</h3>
                                                            <div class="row">

																															<div class="col-md-3">
																																	<div class="form-group">
																																			<div class="form-group form-md-line-input form-md-floating-label has-success">
																																					<input type="text" class="form-control" id="brand" name="brand" >
																																					<label for="form_control_1">Marca<span class="required" aria-required="true">*</span></label>
																																			</div>
																																	</div>
																															</div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="namePlane" name="namePlane" >
                                                                            <label for="form_control_1">Nombre<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="year" name="year" >
                                                                            <label for="form_control_1">Año de Fabricación<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="registration" name="registration" >
                                                                            <label for="form_control_1">Matricula<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="registrationYear" name="registrationYear" >
                                                                            <label for="form_control_1">Año de Matricula<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>

                                                            <div class="row">
                                                            <hr>

                                                                <h4>Características técnicas genéricas</h4>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="wingspan" name="wingspan" >
                                                                            <label for="form_control_1">Envergadura<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="longPlane" name="longPlane" >
                                                                            <label for="form_control_1">Longitud<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="TO" name="TO" >
                                                                            <label for="form_control_1">Hasta<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="maxTakeOff" name="maxTakeOff" >
                                                                            <label for="form_control_1">Peso máximo despegue<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="emptyWeight" name="emptyWeight" >
                                                                            <label for="form_control_1">Peso en vacio<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="cruiseSpeed" name="cruiseSpeed" >
                                                                            <label for="form_control_1">Velocidad Crucero<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="serviceCeiling" name="serviceCeiling" >
                                                                            <label for="form_control_1">Techo de Servicio<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                            <div class="row">
                                                             <hr>

                                                             <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="takeoffRace" name="takeoffRace" >
                                                                            <label for="form_control_1">Carrera de Despegue<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="landingRace" name="landingRace" >
                                                                            <label for="form_control_1">Carrera de Aterrizaje<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div></div>
                                                                <hr>
                                                            <div class="row">

                                                                <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="engine" name="engine" >
                                                                            <label for="form_control_1">Motor<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                 <div class="col-md-3">
                                                                <div class="form-group">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                            <input type="text" class="form-control" id="enginePower" name="enginePower" >
                                                                            <label for="form_control_1">Potencia HP<span class="required" aria-required="true">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                               <div class="col-md-3">
                                                              <div class="form-group">
                                                                      <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                          <input type="text" class="form-control" id="fuelCapacity" name="fuelCapacity" >
                                                                          <label for="form_control_1">Capacidad de Combustible<span class="required" aria-required="true">*</span></label>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-3">
                                                             <div class="form-group">
                                                                     <div class="form-group form-md-line-input form-md-floating-label has-success">
                                                                         <input type="text" class="form-control" id="propeller" name="propeller" >
                                                                         <label for="form_control_1">Hélice<span class="required" aria-required="true">*</span></label>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                            </div>
                                                            <div class="row">
                                                            </div>

						</div>

					</form>


					<div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-home font-dark"></i>
                                        <span class="caption-subject bold uppercase">Registros del Libro</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
				</div>
			</div>

			<div class="tab-pane" id="tabHorasMaterial">
				<div class="portlet-body form">
					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<h3 class="form-section" style="margin: 0px;">Horas de Vuelo</h3>
						<div class="form-body">

					<div class="row">
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="hours" name="hours" >
												<label for="form_control_1">Horas<span class="required" aria-required="true">*</span></label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="landing" name="landing" >
												<label for="form_control_1">Aterrizajes<span class="required" aria-required="true">*</span></label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="inspectionDate" name="inspectionDate" >
												<label for="form_control_1">Fecha de Inspeción</label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="legal" name="legal" >
												<label for="form_control_1">Estado Legal</label>
										</div>
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="maintenance" name="maintenance" >
												<label for="form_control_1">Mantenimiento</label>
										</div>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">

						</div>
					</div>

				</div>
					</form>
				</div>
			</div>

			<div class="tab-pane" id="tabReportesMaterial">
				<div class="portlet-body form">
					<form method="post" class="horizontal-form" id="form_sample_2" novalidate="novalidate">
						<h3 class="form-section" style="margin: 0px;">Reportes</h3>
						<div class="form-body">

					<div class="row">
						<div class="col-md-3">
								<div class="form-group">
										<div class="form-group form-md-line-input form-md-floating-label has-success">
												<input type="text" class="form-control" id="dni" name="dni" >
												<label for="form_control_1">ID Piloto (DNI)<span class="required" aria-required="true">*</span></label>
										</div>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<h4>Tiempos de Vuelo</h4>
															<table class="table table-striped table-bordered table-hover order-column" id="sample_1 " ng-model="customerAddresses" >
																	<thead>

																			<tr>

									<th> Fecha </th>
									<th> Finalidad </th>
									<th> Hs Salida </th>
									<th> Desde </th>
									<th> Hasta </th>
									<th> Hs Llegada </th>
									<th> Aeropuerto </th>
									<th> Piloto </th>
									<th> Co-Piloto </th>



																			</tr>
																	</thead>
																	<tbody>
								<tr class="odd gradeX" ng-repeat="c in listCustomers.listAddress" >

									<td>{{c.date}}</td>
									<td>{{c.finality}}</td>
									<td>{{c.departure}}</td>
									<td>{{c.from}}</td>
									<td>{{c.to}}</td>
									<td>{{c.arrival}}</td>
									<td>{{c.airport}}</td>
									<td>{{c.pilot}}</td>
									<td>{{c.coPilot}}</td>

									<td>
																							<span class="label label-sm label-success editDir " ng-click="loadFormCustomerAddresses(c.id,c.description,c.street,c.number,c.floor,c.floorid,c.locationid,c.loc_id,c.phone1,c.phone2,c.lat,c.longitud,c.default_address,c.default_address,c.priority)"> Editar </span>&nbsp;
										<span class="label label-sm label-warning" ng-click="deleteCustomerAddresses(c.id)" id="demo_3"> Borrar </span>
																					</td>
								</tr>


																	</tbody>
															</table>
															<h4>Discriminación de Tiempos de vuelo</h4>
															<table class="table table-striped table-bordered table-hover order-column" id="sample_1 " ng-model="customerAddresses" >
																	<thead>
																			<tr>


									<th> De Dia </th>
									<th> Nocturno </th>
									<th> Aterrizajes </th>
									<th> Instrucción </th>
									<th> Multi-Motor </th>
									<th> Reactor </th>
									<th> Turbo Helice </th>
									<th> Aero-Aplicador </th>
									<th> Real </th>
									<th> Tripulación </th>
									<th> Ultimo Vuelo </th>


																			</tr>
																	</thead>
																	<tbody>
								<tr class="odd gradeX" ng-repeat="c in listCustomers.listAddress" >


									<td>{{c.atDay}}</td>
									<td>{{c.nightly}}</td>
									<td>{{c.landings}}</td>
									<td>{{c.Instruction}}</td>
									<td>{{c.multi-engine}}</td>
									<td>{{c.reactor}}</td>
									<td>{{c.turbo-propeller}}</td>
									<td>{{c.aeroApplication}}</td>
									<td>{{c.real}}</td>
									<td>{{c.tripulation}}</td>
									<td>{{c.lastFlight}}</td>
									<td>
																							<span class="label label-sm label-success editDir " ng-click="loadFormCustomerAddresses(c.id,c.description,c.street,c.number,c.floor,c.floorid,c.locationid,c.loc_id,c.phone1,c.phone2,c.lat,c.longitud,c.default_address,c.default_address,c.priority)"> Editar </span>&nbsp;
										<span class="label label-sm label-warning" ng-click="deleteCustomerAddresses(c.id)" id="demo_3"> Borrar </span>
																					</td>
								</tr>


																	</tbody>
															</table>
						</div>
					</div>

				</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>
